<header class="navbar navbar-expand-md navbar-dark fixed-top" id="header">
  <div class="container">
    <div class="logo">
      <%= link_to "Logo", root_path, id: "logo" %>
    </div>
  </div>
</header>
